### EXPLORING COVID-19 FATALITIES: AN EPIDERMOLOGICAL STUDY

The COVID-19 pandemic has left a mark on societies worldwide, with its toll measured not only in infections but also in lives lost. This project centers on the analysis of COVID-19 death data, aiming to provide a comprehensive understanding of mortality patterns across different countries. By examining reported deaths and cumulative figures, the goal is to shed light on the extent of the pandemic's impact on various populations. Through rigorous data analysis,seeking to uncover insights into the distribution of COVID-19 fatalities, allowing for a deeper appreciation of the pandemic's toll on a regional basis.

In this notebook, we are going to analyse mortality rate collected from World Health Organization. The dataset contains information about the amount of death across all countries in the world. We are going to find answers to questions like:
1. Total number of countries affected.
2. Total fatalitites by countries.
3. Countries with highest and least fatalities.

This dataset holds a ton of insights,offering different questions to be asked and multiple answers lingering. However, we will narrow our focus to just a few enquiries for now.

##### Connecting to MySQL Database

In [ ]:
%pip install pandas
%pip install ipython-sql
%pip install pymysql
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
%load_ext sql
%sql mysql://root:Princewill10@localhost/Portfolio_Mortality
%sql USE Portfolio_Mortality

##### Let's take a glimpse at our data by examining a snippet of the data table. This allows us better understand the information we're working with. DATASET= https://covid19.who.int/WHO-COVID-19-global-data.csv

In [123]:
%%sql 
SELECT * 
FROM mortality_data
LIMIT 15

 * mysql://root:***@localhost/Portfolio_Mortality
15 rows affected.

[('2020-05-01', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-12-01', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-01-19', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-01-26', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-02-02', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-09-02', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-02-16', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-02-23', 'Asia', 'Afghanistan', 'EMRO', 0, 0, 0, 0),
 ('2020-01-03', 'Asia', 'Afghanistan', 'EMRO', 1, 1, 0, 0),
 ('2020-08-03', 'Asia', 'Afghanistan', 'EMRO', 0, 1, 0, 0),
 ('2020-03-15', 'Asia', 'Afghanistan', 'EMRO', 6, 7, 0, 0),
 ('2020-03-22', 'Asia', 'Afghanistan', 'EMRO', 17, 24, 0, 0),
 ('2020-03-29', 'Asia', 'Afghanistan', 'EMRO', 67, 91, 2, 2),
 ('2020-05-04', 'Asia', 'Afghanistan', 'EMRO', 183, 274, 3, 5),
 ('2020-12-04', 'Asia', 'Afghanistan', 'EMRO', 247, 521, 10, 15)]

##### TOTAL NUMBER OF COUNTRIES AFFECTED ?

In [111]:
%%sql
SELECT COUNT(DISTINCT Country) AS Country, COUNT(DISTINCT Continent) AS Continent
FROM mortality_data
ORDER BY Country

 * mysql://root:***@localhost/Portfolio_Mortality
1 rows affected.

[(223, 6)]

##### TOTAL NUMBER OF DEATHS RECORDED PER YEAR ?

In [116]:
%%sql
SELECT Year(Date_Reported) AS Year, FORMAT(SUM(new_deaths) ,0) AS Total_Deaths
FROM mortality_data
GROUP BY Year
UNION 
SELECT "Overall" AS Year, FORMAT(SUM(New_deaths),0) AS Overall
FROM mortality_data

 * mysql://root:***@localhost/Portfolio_Mortality
6 rows affected.

[('2020', '1,897,533'),
 ('2021', '3,549,358'),
 ('2022', '1,248,805'),
 ('2023', '319,378'),
 ('2024', '14,102'),
 ('Overall', '7,029,176')]

##### TOP 20 COUNTRIES WITH HIGHEST MORTALITY RATE ?

In [124]:
%%sql
SELECT Country, Continent, (FORMAT(MAX(cumulative_deaths),0)) AS Total_Deaths
FROM mortality_data
GROUP BY Country, Continent
ORDER BY MAX(Cumulative_deaths) DESC
LIMIT 20;

 * mysql://root:***@localhost/Portfolio_Mortality
20 rows affected.

[('United States of America', 'North America', '1,172,789'),
 ('Brazil', 'South America', '702,116'),
 ('India', 'Asia', '533,462'),
 ('Russia', 'Europe', '402,097'),
 ('Mexico', 'North America', '334,958'),
 ('United Kingdom', 'Europe', '232,112'),
 ('Peru', 'South America', '221,583'),
 ('Italy', 'Europe', '196,386'),
 ('Germany', 'Europe', '174,979'),
 ('France', 'Europe', '167,985'),
 ('Indonesia', 'Asia', '162,054'),
 ('Iran', 'Asia', '146,799'),
 ('Colombia', 'South America', '142,727'),
 ('Argentina', 'South America', '130,733'),
 ('China', 'Asia', '121,946'),
 ('Spain', 'Europe', '121,852'),
 ('Poland', 'Europe', '120,642'),
 ('Ukraine', 'Europe', '109,918'),
 ('South Africa', 'Africa', '102,595'),
 ('Turkey', 'Asia', '101,419')]

##### TOP 20 COUNTRIES WITH LOWEST MORTALITY RATE ?

In [125]:
%%sql
SELECT Country, Continent, (FORMAT(SUM(New_deaths),0)) AS Total_Deaths
FROM mortality_data 
WHERE WHO_region != "OTHERO"
GROUP BY Country,Continent
ORDER BY SUM(New_deaths) ASC
LIMIT 20;

 * mysql://root:***@localhost/Portfolio_Mortality
20 rows affected.

[('Saint Helena', 'Africa', '0'),
 ('Tokelau', 'Oceania', '0'),
 ('Turkmenistan', 'Asia', '0'),
 ('Vatican City', 'Europe', '0'),
 ('Nauru', 'Oceania', '1'),
 ('Tuvalu', 'Oceania', '1'),
 ('Saint Pierre and Miquelon', 'North America', '2'),
 ('Cook Islands', 'Oceania', '2'),
 ('Saint Barthelemy', 'North America', '5'),
 ('Montserrat', 'North America', '8'),
 ('Palau', 'Oceania', '9'),
 ('Anguilla', 'North America', '12'),
 ('Tonga', 'Oceania', '12'),
 ('Vanuatu', 'Oceania', '14'),
 ('Burundi', 'Africa', '15'),
 ('Marshall Islands', 'Oceania', '17'),
 ('Greenland', 'North America', '21'),
 ('Bhutan', 'Asia', '21'),
 ('Kiribati', 'Oceania', '24'),
 ('Samoa', 'Oceania', '31')]

##### DEATHS PROGRESSION BY COUNTRIES

In [106]:
%%sql
SELECT 
    Country,
    FORMAT(SUM(CASE WHEN YEAR(Date_Reported) = 2020 THEN New_deaths ELSE 0 END),0) AS "2020",
    FORMAT(SUM(CASE WHEN YEAR(Date_Reported) = 2021 THEN New_deaths ELSE 0 END),0) AS "2021",
    FORMAT(SUM(CASE WHEN YEAR(Date_Reported) = 2022 THEN New_deaths ELSE 0 END),0) AS "2022",
    FORMAT(SUM(CASE WHEN YEAR(Date_Reported) = 2023 THEN New_deaths ELSE 0 END),0) AS "2023",
    FORMAT(SUM(CASE WHEN YEAR(Date_Reported) = 2024 THEN New_deaths ELSE 0 END),0) AS "2024"
FROM mortality_data
WHERE YEAR(Date_Reported) BETWEEN 2020 AND 2024
GROUP BY  Country
HAVING SUM(New_deaths) > 0
ORDER BY SUM(New_deaths) DESC

 * mysql://root:***@localhost/Portfolio_Mortality
217 rows affected.

[('United States of America', '342,920', '469,667', '267,423', '83,997', '8,816'),
 ('Brazil', '190,488', '427,904', '74,351', '9,373', '0'),
 ('India', '147,622', '332,060', '51,011', '2,668', '101'),
 ('Russia', '54,778', '249,440', '89,165', '7,976', '738'),
 ('Mexico', '143,890', '159,365', '28,067', '3,636', '0'),
 ('United Kingdom', '90,475', '85,684', '39,186', '16,767', '0'),
 ('Peru', '92,523', '109,931', '15,553', '3,576', '0'),
 ('Italy', '71,627', '64,903', '47,638', '11,263', '955'),
 ('Germany', '47,009', '70,683', '48,046', '9,241', '0'),
 ('France', '63,868', '62,108', '37,759', '6,341', '1'),
 ('Indonesia', '21,237', '122,818', '16,482', '1,435', '78'),
 ('Iran', '54,574', '76,774', '13,325', '2,084', '42'),
 ('Colombia', '41,690', '87,996', '12,390', '651', '0'),
 ('Argentina', '47,507', '70,323', '12,294', '571', '38'),
 ('China', '4,777', '922', '33,296', '82,898', '53'),
 ('Spain', '53,964', '37,311', '27,668', '2,909', '0'),
 ('Poland', '27,207', '67,123', '24,145', '1,763', '404'),
 ('Ukraine', '15,278', '77,255', '15,716', '1,669', '0'),
 ('South Africa', '26,521', '64,252', '11,795', '27', '0'),
 ('Turkey', '19,624', '61,679', '20,116', '0', '0'),
 ('Japan', '3,213', '15,174', '37,426', '18,881', '0'),
 ('Romania', '15,108', '43,428', '8,805', '1,289', '60'),
 ('Philippines', '9,079', '42,307', '14,175', '1,539', '69'),
 ('Chile', '16,404', '22,609', '23,999', '-1,554', '119'),
 ('Canada', '14,734', '15,117', '18,570', '5,589', '184'),
 ('Hungary', '9,047', '29,260', '10,132', '552', '48'),
 ('Czech Republic', '11,367', '24,621', '6,111', '1,243', '175'),
 ('Vietnam', '35', '31,179', '11,970', '22', '0'),
 ('Greece', '4,682', '15,823', '14,471', '3,445', '466'),
 ('Bulgaria', '7,123', '23,405', '7,508', '594', '58'),
 ('Malaysia', '451', '30,883', '5,501', '458', '54'),
 ('Ecuador', '13,990', '19,657', '2,287', '85', '12'),
 ('South Korea', '808', '4,492', '26,582', '4,052', '0'),
 ('Thailand', '60', '21,520', '12,014', '923', '43'),
 ('Belgium', '19,374', '8,818', '5,048', '1,099', '0'),
 ('Pakistan', '9,816', '19,089', '1,730', '21', '0'),
 ('Bangladesh', '7,452', '20,608', '1,379', '38', '6'),
 ('Tunisia', '4,426', '21,097', '3,756', '144', '0'),
 ('Portugal', '6,695', '12,193', '6,885', '2,156', '174'),
 ('Sweden', '9,323', '5,979', '6,701', '4,684', '456'),
 ('Iraq', '12,767', '11,355', '1,252', '1', '0'),
 ('Egypt', '7,352', '14,219', '3,231', '28', '0'),
 ('Australia', '923', '1,476', '15,456', '6,530', '287'),
 ('Netherlands', '11,539', '9,421', '2,016', '10', '0'),
 ('Austria', '7,049', '9,538', '4,984', '963', '0'),
 ('Bolivia', '9,083', '10,447', '2,750', '105', '0'),
 ('Slovakia', '1,773', '14,625', '4,405', '404', '12'),
 ('Guatemala', '4,763', '11,332', '3,895', '209', '0'),
 ('Paraguay', '2,154', '14,444', '3,068', '214', '0'),
 ('Myanmar', '2,601', '16,653', '236', '4', '0'),
 ('Kazakhstan', '2,669', '15,516', '872', '15', '0'),
 ('Croatia', '3,613', '8,666', '5,236', '1,172', '0'),
 ('Serbia', '2,983', '9,585', '4,927', '562', '0'),
 ('Georgia', '2,377', '11,135', '3,386', '234', '0'),
 ('Sri Lanka', '191', '14,693', '1,931', '75', '7'),
 ('Bosnia and Herzegovina', '3,923', '9,360', '2,939', '158', '2'),
 ('Morocco', '7,204', '7,623', '1,467', '6', '1'),
 ('Switzerland', '7,182', '4,646', '2,037', '314', '0'),
 ('Jordan', '3,729', '8,715', '1,678', '0', '0'),
 ('Israel', '3,242', '5,009', '3,775', '681', '0'),
 ('Republic of Moldova', '2,960', '7,224', '1,745', '245', '32'),
 ('Nepal', '2,720', '8,865', '434', '12', '0'),
 ('Finland', '618', '1,218', '6,862', '2,710', '53'),
 ('Honduras', '3,061', '7,368', '634', '51', '0'),
 ('Lebanon', '1,379', '7,648', '1,717', '203', '0'),
 ('Azerbaijan', '2,416', '5,868', '1,722', '347', '0'),
 ('Slovenia', '2,881', '3,208', '2,712', '1,057', '146'),
 ('North Macedonia', '2,896', '5,456', '1,524', '89', '6'),
 ('Lithuania', '1,617', '5,685', '2,167', '304', '21'),
 ('Saudi Arabia', '6,176', '2,694', '638', '138', '0'),
 ('Denmark', '1,159', '2,038', '4,515', '1,781', '100'),
 ('Republic of Ireland', '2,230', '3,824', '2,383', '1,003', '52'),
 ('Costa Rica', '2,103', '5,246', '1,723', '296', '0'),
 ('Armenia', '2,768', '5,175', '765', '67', '0'),
 ('Panama', '3,756', '3,653', '1,158', '87', '0'),
 ('Cuba', '141', '8,179', '210', '0', '0'),
 ('Afghanistan', '2,158', '5,194', '493', '128', '9'),
 ('Uruguay', '143', '6,019', '1,400', '63', '0'),
 ('Ethiopia', '1,901', '4,993', '678', '2', '0'),
 ('Latvia', '632', '4,183', '2,196', '454', '0'),
 ('Belarus', '1,376', '4,108', '1,634', '0', '0'),
 ('Algeria', '2,722', '3,507', '652', '0', '0'),
 ('Libya', '1,415', '4,226', '796', '0', '0'),
 ('Puerto Rico', '1,630', '1,671', '2,240', '397', '0'),
 ('Venezuela', '1,010', '4,302', '518', '26', '0'),
 ('Zimbabwe', '341', '4,544', '750', '96', '6'),
 ('Norway', '421', '914', '3,410', '987', '0'),
 ('State of Palestine', '1,406', '3,494', '808', '0', '0'),
 ('Kenya', '1,655', '3,704', '329', '1', '0'),
 ('Sudan', '1,520', '1,778', '1,696', '52', '0'),
 ('Oman', '1,491', '2,989', '148', '0', '0'),
 ('Trinidad and Tobago', '125', '2,593', '1,559', '113', '0'),
 ('Dominican Republic', '2,404', '1,833', '147', '0', '0'),
 ('El Salvador', '1,297', '2,521', '412', '0', '0'),
 ('Namibia', '195', '3,416', '471', '21', '0'),
 ('Zambia', '382', '3,315', '325', '47', '0'),
 ('New Zealand', '25', '25', '2,238', '1,335', '165'),
 ('Uganda', '298', '2,982', '350', '2', '0'),
 ('Albania', '1,134', '2,053', '409', '8', '1'),
 ('Jamaica', '294', '2,168', '1,001', '129', '0'),
 ('Kosovo', '1,295', '1,684', '213', '20', '0'),
 ('Syria', '669', '2,202', '292', '0', '0'),
 ('Nigeria', '1,247', '1,767', '141', '0', '0'),
 ('Cambodia', '0', '3,008', '48', '0', '0'),
 ('Estonia', '284', '1,544', '899', '245', '21'),
 ('Botswana', '39', '2,400', '347', '14', '0'),
 ('Malawi', '188', '2,140', '357', '1', '0'),
 ('Montenegro', '543', '1,733', '340', '38', '0'),
 ('Kuwait', '929', '1,539', '102', '0', '0'),
 ('United Arab Emirates', '655', '1,501', '192', '1', '0'),
 ('Mongolia', '1', '1,980', '155', '148', '0'),
 ('Mozambique', '159', '1,801', '270', '20', '0'),
 ('Yemen', '607', '1,376', '176', '0', '0'),
 ('Cameroon', '448', '1,403', '114', '9', '0'),
 ('Senegal', '387', '1,503', '78', '3', '0'),
 ('Singapore', '29', '793', '889', '243', '0'),
 ('Angola', '400', '1,346', '183', '8', '0'),
 ('Bahrain', '351', '1,043', '142', '0', '0'),
 ('Democratic Republic of the Congo', '579', '626', '257', '6', '0'),
 ('Rwanda', '73', '1,273', '121', '1', '0'),
 ('Ghana', '335', '952', '174', '1', '0'),
 ('Eswatini', '163', '1,109', '150', '5', '0'),
 ('Madagascar', '261', '766', '389', '10', '0'),
 ('Suriname', '119', '1,067', '207', '11', '0'),
 ('Cyprus', '114', '523', '618', '110', '0'),
 ('Somalia', '127', '1,206', '28', '0', '0'),
 ('Guyana', '162', '880', '244', '13', '0'),
 ('Martinique', '42', '733', '304', '25', '0'),
 ('Mauritius', '10', '752', '277', '21', '10'),
 ('Kyrgyzstan', '0', '860', '164', '0', '0'),
 ('Uzbekistan', '0', '860', '156', '0', '0'),
 ('Luxembourg', '285', '350', '320', '45', '0'),
 ('Mauritania', '337', '525', '135', '0', '0'),
 ('Falkland Islands (Malvinas)', '42', '359', '505', '15', '0'),
 ('Malta', '227', '266', '341', '57', '14'),
 ('Fiji', '2', '695', '184', '4', '0'),
 ('Haiti', '235', '531', '94', '0', '0'),
 ('Tanzania', '21', '716', '108', '1', '0'),
 ('The Bahamas', '169', '544', '120', '11', '0'),
 ('Ivory coast', '134', '573', '123', '5', '0'),
 ('Mali', '250', '403', '90', '0', '0'),
 ('Lesotho', '64', '601', '41', '3', '0'),
 ('Qatar', '244', '370', '71', '5', '0'),
 ('Belize', '228', '364', '96', '0', '0'),
 ("Lao People's Democratic Republic", '0', '325', '346', '0', '0'),
 ('Papua New Guinea', '9', '581', '79', '1', '0'),
 ('Barbados', '7', '253', '308', '25', '0'),
 ('Guinea', '80', '309', '77', '2', '0'),
 ('Guam', '121', '149', '141', '8', '0'),
 ('Cape Verde', '112', '240', '60', '5', '0'),
 ('Saint Lucia', '5', '290', '114', '0', '0'),
 ('Burkina Faso', '78', '239', '78', '5', '0'),
 ('Republic of the Congo', '100', '267', '19', '3', '0'),
 ('The Gambia', '123', '219', '30', '0', '0'),
 ('Maldives', '48', '213', '50', '5', '0'),
 ('Niger', '101', '173', '40', '1', '0'),
 ('New Caledonia', '0', '280', '34', '0', '0'),
 ('Gabon', '64', '223', '19', '1', '0'),
 ('Liberia', '89', '198', '7', '0', '0'),
 ('Aruba', '47', '134', '99', '12', '0'),
 ('Togo', '68', '178', '44', '0', '0'),
 ('British Virgin Islands', '13', '165', '60', '7', '0'),
 ('Nicaragua', '164', '52', '29', '0', '0'),
 ('Grenada', '0', '200', '38', '0', '0'),
 ('Solomon Islands', '0', '0', '153', '46', '0'),
 ('Chad', '104', '77', '13', '0', '0'),
 ('Djibouti', '61', '128', '0', '0', '0'),
 ('Mayotte', '54', '131', '2', '0', '0'),
 ('Iceland', '28', '9', '149', '0', '0'),
 ('Equatorial Guinea', '86', '89', '8', '0', '0'),
 ('Brunei Darussalam', '3', '58', '87', '23', '7'),
 ('Guinea-Bissau', '45', '104', '27', '1', '0'),
 ('Seychelles', '0', '126', '46', '0', '0'),
 ('Bermuda', '9', '97', '46', '13', '0'),
 ('Benin', '44', '117', '2', '0', '0'),
 ('Jersey', '41', '48', '57', '15', '0'),
 ('Comoros', '7', '146', '7', '0', '0'),
 ('Andorra', '83', '56', '19', '1', '0'),
 ('South Sudan', '63', '72', '3', '9', '0'),
 ('Antigua and Barbuda', '5', '113', '28', '0', '0'),
 ('Timor-Leste', '0', '122', '16', '0', '0'),
 ('United States Virgin Islands', '23', '65', '39', '5', '0'),
 ('San Marino', '57', '41', '23', '5', '0'),
 ('Sierra Leone', '76', '47', '2', '0', '0'),
 ('Tajikistan', '90', '35', '0', '0', '0'),
 ('Saint Vincent and the Grenadines', '0', '81', '37', '6', '0'),
 ('Isle of Man', '35', '32', '49', '0', '0'),
 ('Central African Republic', '63', '38', '12', '0', '0'),
 ('Eritrea', '1', '71', '31', '0', '0'),
 ('Sint Maarten', '26', '49', '14', '3', '0'),
 ('Liechtenstein', '39', '30', '18', '2', '0'),
 ('Sao Tome and Principe', '17', '40', '20', '3', '0'),
 ('Dominica', '0', '45', '29', '0', '0'),
 ('Guernsey', '16', '7', '37', '7', '0'),
 ('Monaco', '3', '35', '27', '2', '0'),
 ('Micronesia (Federated States of)', '0', '0', '58', '7', '0'),
 ('Saint Kitts and Nevis', '0', '28', '18', '0', '0'),
 ('Collectivity of Saint Martin', '12', '27', '7', '0', '0'),
 ('Northern Mariana Islands', '2', '9', '30', '0', '0'),
 ('Cayman Islands', '2', '9', '26', '0', '0'),
 ('Samoa', '0', '0', '29', '2', '0'),
 ('Kiribati', '0', '0', '13', '11', '0'),
 ('Bhutan', '0', '3', '18', '0', '0'),
 ('Greenland', '0', '1', '20', '0', '0'),
 ('Marshall Islands', '0', '0', '17', '0', '0'),
 ('Burundi', '2', '12', '1', '0', '0'),
 ('Vanuatu', '0', '0', '14', '0', '0'),
 ('Diamond', '13', '0', '0', '0', '0'),
 ('Anguilla', '0', '5', '7', '0', '0'),
 ('Tonga', '0', '0', '12', '0', '0'),
 ('Palau', '0', '0', '9', '0', '0'),
 ('Montserrat', '1', '0', '7', '0', '0'),
 ('Saint Barthelemy', '0', '4', '1', '0', '0'),
 ('Cook Islands', '0', '0', '1', '1', '0'),
 ('Saint Pierre and Miquelon', '0', '0', '2', '0', '0'),
 ('Nauru', '0', '0', '1', '0', '0'),
 ('Tuvalu', '0', '0', '0', '1', '0')]

##### Now that we've seen the number of deaths, let's have a quick look at number of COVID-19 cases gotten and let's see their mortality rate among countries.

##### COUNTRIES AND THEIR MORTALITY RATES IN RELATION TO THEIR COVID-19 CASES

In [127]:
%%sql
SELECT Country, Continent,
    FORMAT(SUM(new_cases), 0) AS Total_Cases,
    FORMAT(SUM(new_deaths), 0) AS Total_Deaths,
    FORMAT((SUM(new_deaths) / SUM(new_cases)) * 100, 1) AS Mortality_Rate
FROM 
    mortality_data
GROUP BY 
    Country, Continent
ORDER BY 
    Mortality_Rate DESC;

 * mysql://root:***@localhost/Portfolio_Mortality
223 rows affected.

[('Sudan', 'Africa', '63,993', '5,046', '7.9'),
 ('Syria', 'Asia', '57,423', '3,163', '5.5'),
 ('Somalia', 'Africa', '27,334', '1,361', '5.0'),
 ('Peru', 'South America', '4,536,733', '221,583', '4.9'),
 ('Egypt', 'Africa', '516,023', '24,830', '4.8'),
 ('Mexico', 'North America', '7,702,809', '334,958', '4.3'),
 ('Bosnia and Herzegovina', 'Europe', '403,565', '16,382', '4.1'),
 ('Liberia', 'Africa', '7,930', '294', '3.7'),
 ('Afghanistan', 'Asia', '231,779', '7,982', '3.4'),
 ('Ecuador', 'South America', '1,066,530', '36,031', '3.4'),
 ('Niger', 'Africa', '9,515', '315', '3.3'),
 ('Myanmar', 'Asia', '641,756', '19,494', '3.0'),
 ('Malawi', 'Africa', '89,168', '2,686', '3.0'),
 ('The Gambia', 'Africa', '12,626', '372', '2.9'),
 ('Bulgaria', 'Europe', '1,328,461', '38,688', '2.9'),
 ('North Macedonia', 'Europe', '350,520', '9,971', '2.8'),
 ('Paraguay', 'South America', '735,759', '19,880', '2.7'),
 ('Tunisia', 'Africa', '1,153,361', '29,423', '2.6'),
 ('Algeria', 'Africa', '272,010', '6,881', '2.5'),
 ('Sri Lanka', 'Asia', '672,747', '16,897', '2.5'),
 ('South Africa', 'Africa', '4,072,636', '102,595', '2.5'),
 ('Haiti', 'North America', '34,228', '860', '2.5'),
 ('Chad', 'Africa', '7,698', '194', '2.5'),
 ('Namibia', 'Africa', '172,280', '4,103', '2.4'),
 ('Indonesia', 'Asia', '6,828,326', '162,050', '2.4'),
 ('Honduras', 'North America', '472,606', '11,114', '2.4'),
 ('Trinidad and Tobago', 'North America', '191,496', '4,390', '2.3'),
 ('Jamaica', 'North America', '156,729', '3,592', '2.3'),
 ('Zimbabwe', 'Africa', '266,319', '5,737', '2.2'),
 ('Hungary', 'Europe', '2,229,987', '49,039', '2.2'),
 ('Mali', 'Africa', '33,164', '743', '2.2'),
 ('Senegal', 'Africa', '89,050', '1,971', '2.2'),
 ('Cambodia', 'Asia', '139,087', '3,056', '2.2'),
 ('The Bahamas', 'North America', '38,084', '844', '2.2'),
 ('Colombia', 'South America', '6,376,277', '142,727', '2.2'),
 ('Uganda', 'Africa', '171,890', '3,632', '2.1'),
 ('El Salvador', 'North America', '201,806', '4,230', '2.1'),
 ('Madagascar', 'Africa', '68,486', '1,426', '2.1'),
 ('Ukraine', 'Europe', '5,538,061', '109,918', '2.0'),
 ('Romania', 'Europe', '3,522,452', '68,690', '2.0'),
 ('Tanzania', 'Africa', '43,223', '846', '2.0'),
 ('Lesotho', 'Africa', '36,138', '709', '2.0'),
 ('Yemen', 'Asia', '11,945', '2,159', '18.1'),
 ('Eswatini', 'Africa', '75,191', '1,427', '1.9'),
 ('Iran', 'Asia', '7,626,527', '146,799', '1.9'),
 ('Republic of Moldova', 'Europe', '634,508', '12,206', '1.9'),
 ('Brazil', 'South America', '37,519,960', '702,116', '1.9'),
 ('Armenia', 'Asia', '451,426', '8,775', '1.9'),
 ('Pakistan', 'Asia', '1,580,631', '30,656', '1.9'),
 ('Angola', 'Africa', '107,322', '1,937', '1.8'),
 ('Poland', 'Europe', '6,657,552', '120,642', '1.8'),
 ('Comoros', 'Africa', '9,109', '160', '1.8'),
 ('Diamond', 'Oceania', '712', '13', '1.8'),
 ('Guyana', 'South America', '73,751', '1,299', '1.8'),
 ('Bolivia', 'South America', '1,211,716', '22,385', '1.8'),
 ('Guinea-Bissau', 'Africa', '9,614', '177', '1.8'),
 ('Burkina Faso', 'Africa', '22,109', '400', '1.8'),
 ('Suriname', 'South America', '82,506', '1,404', '1.7'),
 ('Kenya', 'Africa', '344,094', '5,689', '1.7'),
 ('Russia', 'Europe', '23,902,906', '402,097', '1.7'),
 ('Nicaragua', 'North America', '15,728', '245', '1.6'),
 ('Philippines', 'Asia', '4,186,266', '67,169', '1.6'),
 ('Sierra Leone', 'Africa', '7,779', '125', '1.6'),
 ('Antigua and Barbuda', 'North America', '9,106', '146', '1.6'),
 ('Cameroon', 'Africa', '125,137', '1,974', '1.6'),
 ('Guatemala', 'North America', '1,250,282', '20,199', '1.6'),
 ('Mauritania', 'Africa', '63,832', '997', '1.6'),
 ('Republic of the Congo', 'Africa', '25,213', '389', '1.5'),
 ('Democratic Republic of the Congo', 'Africa', '99,338', '1,468', '1.5'),
 ('Ethiopia', 'Africa', '501,117', '7,574', '1.5'),
 ('Papua New Guinea', 'Oceania', '46,864', '670', '1.4'),
 ('Croatia', 'Europe', '1,309,728', '18,687', '1.4'),
 ('Bangladesh', 'Asia', '2,047,552', '29,483', '1.4'),
 ('Saint Lucia', 'North America', '30,062', '409', '1.4'),
 ('Argentina', 'South America', '10,094,643', '130,733', '1.3'),
 ('Saint Vincent and the Grenadines', 'North America', '9,674', '124', '1.3'),
 ('Fiji', 'Oceania', '69,047', '885', '1.3'),
 ('Morocco', 'Africa', '1,278,944', '16,301', '1.3'),
 ('Libya', 'Africa', '507,269', '6,437', '1.3'),
 ('Kazakhstan', 'Asia', '1,503,687', '19,072', '1.3'),
 ('Sao Tome and Principe', 'Africa', '6,736', '80', '1.2'),
 ('Grenada', 'North America', '19,693', '238', '1.2'),
 ('Guinea', 'Africa', '38,572', '468', '1.2'),
 ('Djibouti', 'Africa', '15,690', '189', '1.2'),
 ('Nepal', 'Asia', '1,003,450', '12,031', '1.2'),
 ('Azerbaijan', 'Asia', '834,649', '10,353', '1.2'),
 ('India', 'Asia', '45,027,151', '533,462', '1.2'),
 ('Chile', 'South America', '5,303,601', '61,577', '1.2'),
 ('Kyrgyzstan', 'Asia', '88,953', '1,024', '1.2'),
 ('Nigeria', 'Africa', '267,188', '3,155', '1.2'),
 ('Kosovo', 'Europe', '274,279', '3,212', '1.2'),
 ('Zambia', 'Africa', '349,304', '4,069', '1.2'),
 ('Oman', 'Asia', '399,449', '4,628', '1.2'),
 ('Rwanda', 'Africa', '133,208', '1,468', '1.1'),
 ('Saudi Arabia', 'Asia', '841,469', '9,646', '1.1'),
 ('Albania', 'Europe', '334,863', '3,605', '1.1'),
 ('Equatorial Guinea', 'Africa', '17,130', '183', '1.1'),
 ('Montenegro', 'Europe', '251,280', '2,654', '1.1'),
 ('United States of America', 'North America', '103,445,188', '1,172,823', '1.1'),
 ('Slovakia', 'Europe', '1,877,378', '21,219', '1.1'),
 ('Venezuela', 'South America', '552,695', '5,856', '1.1'),
 ('Canada', 'North America', '4,776,447', '54,194', '1.1'),
 ('Sweden', 'Europe', '2,750,430', '27,143', '1.0'),
 ('Mozambique', 'Africa', '233,731', '2,250', '1.0'),
 ('Eritrea', 'Africa', '10,189', '103', '1.0'),
 ('Iraq', 'Asia', '2,465,545', '25,375', '1.0'),
 ('Belize', 'North America', '71,381', '688', '1.0'),
 ('Ivory coast', 'Africa', '88,384', '835', '0.9'),
 ('Czech Republic', 'Europe', '4,762,481', '43,517', '0.9'),
 ('United Kingdom', 'Europe', '24,902,630', '232,112', '0.9'),
 ('Spain', 'Europe', '13,980,340', '121,852', '0.9'),
 ('Georgia', 'Asia', '1,855,289', '17,132', '0.9'),
 ('Lebanon', 'Asia', '1,239,904', '10,947', '0.9'),
 ('Ghana', 'Africa', '171,834', '1,462', '0.9'),
 ('Bermuda', 'North America', '18,860', '165', '0.9'),
 ('Latvia', 'Europe', '977,701', '7,465', '0.8'),
 ('State of Palestine', 'Asia', '703,228', '5,708', '0.8'),
 ('Panama', 'North America', '1,042,567', '8,654', '0.8'),
 ('Costa Rica', 'North America', '1,230,653', '9,368', '0.8'),
 ('South Sudan', 'Africa', '18,819', '147', '0.8'),
 ('Cuba', 'North America', '1,115,043', '8,530', '0.8'),
 ('Solomon Islands', 'Oceania', '25,954', '199', '0.8'),
 ('Guam', 'Oceania', '52,287', '419', '0.8'),
 ('Botswana', 'Africa', '330,417', '2,800', '0.8'),
 ('Finland', 'Europe', '1,499,712', '11,461', '0.8'),
 ('Sint Maarten', 'North America', '11,051', '92', '0.8'),
 ('Jordan', 'Asia', '1,746,997', '14,122', '0.8'),
 ('Slovenia', 'Europe', '1,355,637', '10,004', '0.7'),
 ('Greece', 'Europe', '5,618,747', '38,887', '0.7'),
 ('Saint Kitts and Nevis', 'North America', '6,607', '46', '0.7'),
 ('Malta', 'Europe', '121,344', '905', '0.7'),
 ('Dominican Republic', 'North America', '661,180', '4,384', '0.7'),
 ('Malaysia', 'Asia', '5,272,517', '37,347', '0.7'),
 ('Italy', 'Europe', '26,706,764', '196,386', '0.7'),
 ('Belgium', 'Europe', '4,858,260', '34,339', '0.7'),
 ('Thailand', 'Asia', '4,766,255', '34,560', '0.7'),
 ('Belarus', 'Europe', '994,037', '7,118', '0.7'),
 ('Aruba', 'North America', '44,224', '292', '0.7'),
 ('Serbia', 'Europe', '2,583,470', '18,057', '0.7'),
 ('Lithuania', 'Europe', '1,363,677', '9,794', '0.7'),
 ('Uruguay', 'South America', '1,037,893', '7,625', '0.7'),
 ('Central African Republic', 'Africa', '15,440', '113', '0.7'),
 ('Tajikistan', 'Asia', '17,786', '125', '0.7'),
 ('Togo', 'Africa', '39,527', '290', '0.7'),
 ('Gabon', 'Africa', '49,051', '307', '0.6'),
 ('Turkey', 'Asia', '17,004,677', '101,419', '0.6'),
 ('Benin', 'Africa', '28,036', '163', '0.6'),
 ('Timor-Leste', 'Asia', '23,460', '138', '0.6'),
 ('Montserrat', 'North America', '1,403', '8', '0.6'),
 ('Uzbekistan', 'Asia', '175,081', '1,016', '0.6'),
 ('Cape Verde', 'Africa', '64,474', '417', '0.6'),
 ('Martinique', 'North America', '230,354', '1,104', '0.5'),
 ('United States Virgin Islands', 'North America', '25,389', '132', '0.5'),
 ('Dominica', 'North America', '15,760', '74', '0.5'),
 ('Estonia', 'Europe', '609,926', '2,993', '0.5'),
 ('Germany', 'Europe', '38,437,756', '174,979', '0.5'),
 ('Portugal', 'Europe', '5,642,464', '28,103', '0.5'),
 ('Puerto Rico', 'North America', '1,252,713', '5,938', '0.5'),
 ('Republic of Ireland', 'Europe', '1,733,658', '9,492', '0.5'),
 ('Kiribati', 'Oceania', '5,087', '24', '0.5'),
 ('Barbados', 'North America', '110,375', '593', '0.5'),
 ('San Marino', 'Europe', '25,292', '126', '0.5'),
 ('Norway', 'Europe', '1,506,490', '5,732', '0.4'),
 ('Vietnam', 'Asia', '11,624,000', '43,206', '0.4'),
 ('Austria', 'Europe', '6,081,287', '22,534', '0.4'),
 ('New Caledonia', 'Oceania', '80,064', '314', '0.4'),
 ('France', 'Europe', '39,381,570', '170,077', '0.4'),
 ('Kuwait', 'Asia', '667,094', '2,570', '0.4'),
 ('Monaco', 'Europe', '17,181', '67', '0.4'),
 ('Liechtenstein', 'Europe', '21,572', '89', '0.4'),
 ('Mayotte', 'Africa', '42,027', '187', '0.4'),
 ('Collectivity of Saint Martin', 'North America', '12,324', '46', '0.4'),
 ('Mauritius', 'Africa', '327,127', '1,070', '0.3'),
 ('Northern Mariana Islands', 'Oceania', '14,341', '41', '0.3'),
 ('Denmark', 'Europe', '3,434,162', '9,593', '0.3'),
 ('Luxembourg', 'Europe', '391,037', '1,000', '0.3'),
 ('Seychelles', 'Africa', '51,220', '172', '0.3'),
 ("Lao People's Democratic Republic", 'Asia', '218,924', '671', '0.3'),
 ('British Virgin Islands', 'North America', '72,257', '245', '0.3'),
 ('Israel', 'Asia', '4,841,558', '12,707', '0.3'),
 ('Isle of Man', 'Europe', '38,008', '116', '0.3'),
 ('Anguilla', 'North America', '3,904', '12', '0.3'),
 ('Netherlands', 'Europe', '8,634,548', '22,986', '0.3'),
 ('Andorra', 'Europe', '48,015', '159', '0.3'),
 ('Switzerland', 'Europe', '4,451,779', '14,179', '0.3'),
 ('Falkland Islands (Malvinas)', 'South America', '494,595', '921', '0.2'),
 ('Samoa', 'Oceania', '16,962', '31', '0.2'),
 ('Cyprus', 'Asia', '681,110', '1,365', '0.2'),
 ('Maldives', 'Asia', '186,694', '316', '0.2'),
 ('New Zealand', 'Oceania', '2,480,250', '3,788', '0.2'),
 ('Micronesia (Federated States of)', 'Oceania', '26,547', '65', '0.2'),
 ('United Arab Emirates', 'Asia', '1,067,030', '2,349', '0.2'),
 ('Australia', 'Oceania', '11,789,671', '24,672', '0.2'),
 ('Mongolia', 'Asia', '1,011,459', '2,284', '0.2'),
 ('Bahrain', 'Asia', '696,614', '1,536', '0.2'),
 ('Jersey', 'Europe', '66,391', '161', '0.2'),
 ('Japan', 'Asia', '33,803,572', '74,694', '0.2'),
 ('Greenland', 'North America', '11,971', '21', '0.2'),
 ('Guernsey', 'Europe', '35,326', '67', '0.2'),
 ('South Korea', 'Asia', '34,571,873', '35,934', '0.1'),
 ('Iceland', 'Europe', '209,884', '186', '0.1'),
 ('Tonga', 'Oceania', '16,950', '12', '0.1'),
 ('Vanuatu', 'Oceania', '12,031', '14', '0.1'),
 ('Qatar', 'Asia', '514,524', '690', '0.1'),
 ('Brunei Darussalam', 'Asia', '343,075', '178', '0.1'),
 ('Singapore', 'Asia', '2,998,665', '1,954', '0.1'),
 ('Saint Barthelemy', 'North America', '5,507', '5', '0.1'),
 ('Marshall Islands', 'Oceania', '16,138', '17', '0.1'),
 ('Palau', 'Oceania', '6,265', '9', '0.1'),
 ('China', 'Asia', '99,330,521', '121,946', '0.1'),
 ('Saint Pierre and Miquelon', 'North America', '3,426', '2', '0.1'),
 ('Cayman Islands', 'North America', '31,472', '37', '0.1'),
 ('Nauru', 'Oceania', '5,393', '1', '0.0'),
 ('Tokelau', 'Oceania', '80', '0', '0.0'),
 ('Bhutan', 'Asia', '62,697', '21', '0.0'),
 ('Tuvalu', 'Oceania', '2,943', '1', '0.0'),
 ('Fesco', 'Oceania', '4', '0', '0.0'),
 ('Saint Helena', 'Africa', '2,166', '0', '0.0'),
 ('Cook Islands', 'Oceania', '7,203', '2', '0.0'),
 ('Charo Municipality', 'North America', '29', '0', '0.0'),
 ('Burundi', 'Africa', '54,552', '15', '0.0'),
 ('Vatican City', 'Europe', '26', '0', '0.0'),
 ('Turkmenistan', 'Asia', '0', '0', None)]